@use '../scss/variables';

.main-panel {
      &__body {
            background-color: #F4F4F4;
            border-top-left-radius: variables.$mainBorderRadius;
            border-bottom-left-radius: variables.$mainBorderRadius;
            /* box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
            clip-path: inset( -100px 00px -100px -100px); */
            @media (max-width: 420px) {
                      border-radius: variables.$mainBorderRadius;
                      width: 90%;
              }
      }
      &__img {
            object-fit: cover;
            min-height: 100%;
            border-top-right-radius: variables.$mainBorderRadius;
            border-bottom-right-radius: variables.$mainBorderRadius;
            /* box-shadow:  0rem 1rem 3rem rgba(black, .175); */
            /* clip-path: inset( -100px -100px -100px 0px);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5); */
      }
      &__create-assembly {
            .search-results {
                  display: none;
                  background-color: #d3d1d1;
                  border-radius: variables.$mainBorderRadius;
                  left: 580px;
                  z-index: 99 !important;
            }
      }
}

body.dark-theme .main-panel__body {
      @extend .main-panel__body;
      background-color: #494d50;
      color: rgb(190, 190, 190);
}